@font-face{
    font-family: "m-serif";
    src: url("../fonts/Didot-HTF-M42-Medium.otf") format("opentype");
}

@font-face{
    font-family: "m-book";
    src: url("../fonts/Gotham-Book.otf") format("opentype");
}

@font-face{
    font-family: "m-medium";
    src: url("../fonts/Gotham-Medium.otf") format("opentype");
}

body{
    color: #393a3d;
    font-family: "m-book";
}

a, a:hover{
    text-decoration: none;
    outline: 0;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}


h1{
    font-family: "m-serif";
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-size: 2.1rem;
    font-family: "m-medium";
}

h4{
    font-size: 1.9rem;
    font-family: "m-medium";    
}

p{
    font-size: 1.6rem;
    font-family: "m-book";
    line-height: 1.4;
}

.intro{
    background: url("../img/image_bg_mobile.png") center top no-repeat;
    background-size: cover;
    height: 150%;
    overflow: visible;
}


.pitch-logo{
    margin-top: 3rem;
    width: 141px;
    position: relative;
    left: 50%;
    margin-left: -72px;
}

h1.pitch{
    margin-top: 3rem;
    text-align: center;
}

.pitch-cta{
    margin-top: 1.5rem;
    font-family: "m-book";
    font-size: 1.6rem;
    color: #e94402;
    text-align: center;
    display: block;
}

form{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

}

#signup{
    background: #fafafa;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    min-height: 1px;
}

.signup-title{
    text-align: center;
    margin-bottom: 1rem;
}

.signup-form{
    min-height: 48px;
    width: 100%;
    padding-left: 1rem;
}

.signup-form:focus{
    outline: 0;
    border: 1px solid #e94402;
}

.signup-subtext{
    text-align: center;
    margin-top: 0;
    margin-bottom: 2.4rem;
    opacity: 0.5;
}


#why{
    padding-top: 4.5rem;
    padding-bottom: 9rem;    
}

.why-media{
    width: 220px;
    position: relative;
    left: 50%;
    margin-left: -110px;
}

.why-title{
    color: #e94402;
    text-align: center;
    margin-bottom: 1rem;
}

.why-description{
    opacity: 0.5;
    text-align: center;
}

#interesting{
    background: #e94402;
}

#footer{
    background: #393a3d;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}


.footer-logo{
    width: 141px;
    position: relative;
    left: 50%;
    margin-left: -72px;
}

.footer-break{
    margin-top: 3rem;
    max-width: 60%;
    opacity: 0.1;
}


li a{
    color: #fff;
    opacity: 0.2;
}

ul{
    margin-top: 2.6rem;
    list-style-type: none;
}

li{
    display: inline;
}

.padding-li{
    
    padding-left: 4rem;
    padding-right: 4rem;
}