@font-face{
    font-family: "DC-Book";
    src: url("../fonts/ClanPro-Book.otf") format("opentype");
}

@font-face{
    font-family: "DC-News";
    src: url("../fonts/ClanPro-News.otf") format("opentype");
}

@font-face{
    font-family: "DC-Medium";
    src: url("../fonts/ClanPro-Medium.otf") format("opentype");
}

@font-face{
    font-family: "DC-Quote";
    src: url("../fonts/ff-tisa-web-pro.woff");
}

/* @font-face{
    font-family: "DC-CondMedium";
    src: url("../fonts/ClanPro-CondMedium.otf") format("opentype");
}*/

html, body, h1, h2, h3, h4, h5, a, p{
    font-family: "DC-Book", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: normal;
    color: rgb(46, 48, 61);
}

body{
    font-size: 11.5px;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

a, a:hover, a:visited{
    color: rgb(46, 48, 61);
}

.center{
    display: block;
    /* Because bootstrap has columns on float:left by default */
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.sm-break, .md-break, .lg-break{
    display: none;
}

/* COMMON CSS FOR SECTIONS
-------------------------------------------------- */


.section-top{
}

.section-content{
    margin-top: 6em;
}

.section-heading{
    text-align: center;
    font-size: 1.7em;
    font-family: "DC-Medium";
    letter-spacing: -0.02em;
}

.section-hr{
    max-width: 30%;
    border-top-color: rgb(235, 235, 235);
}

.section-description{
    text-align: center;
    font-size: 1.25em;
    line-height: 1.7;
    font-family: "DC-News";
}

.no-border-left{
    border-left: 0 !important;
}

.no-border-right{
    border-right: 0 !important;
}

.no-border-top{
    border-top: 0 !important;
}

.no-border-bottom{
    border-bottom: 0 !important;
}

.no-padding-left{
    padding-left: 0;
}

.no-padding-right{
    padding-right: 0;
}

.no-padding-top{
    padding-top: 0;
}

.no-padding-bottom{
    padding-bottom: 0;
}

/* FAB
-------------------------------------------------- */
.fab{
    z-index: 999;
    position: fixed;
    right: 1.6em;
    bottom: 1.6em;
    border-radius: 50%;
    width: 4.8em;
    height: 4.8em;
    background: rgb(46, 48, 61);
    box-shadow: 0px 1px 2px 0px rgba(179,179,179,0.50), 0px 2px 4px 0px rgba(114,114,114,0.50);
    display: flex;
    /* Vertical align: */
    align-items: center;
    /* Horizontal align: */
    justify-content: center;
    /* Safari */
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: none;
}

.fab:hover{
    box-shadow: 0px 1px 2px 1px rgba(179,179,179,0.50), 0px 2px 4px 1px rgba(114,114,114,0.50);
    background: rgb(54, 56, 70);
}

.fab img{
    max-width: 50%;
}

.animated-quick {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/* INTRO SECTION
-------------------------------------------------- */

#intro{
    background: rgb(255, 255, 255);
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(236, 239, 241));
    background: linear-gradient(rgb(255, 255, 255), rgb(236, 239, 241));
}

.brand{
    height: 100vh;
    position: relative;
    display: flex;
    /* Vertical align: */
    align-items: center;
    /* Horizontal align: */
    justify-content: center;
    /* Safari */
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

.logo{
    width: 24em;
}

.pitch{
    font-size: 1.7em;
    line-height: 1.5em;
    text-align: center;
    margin: 1em auto 1.5em auto;
    font-family: "DC-News";
}

.outline-button{
    cursor: pointer;
    height: 3.539em;
    padding: 1em; 
    text-align: center;
    font-size: 1.2em;
    border: 1px solid rgb(46, 48, 61);
    border-radius: 3px; 
}

.outline-button:hover{
    transition: background-color 0.5s ease;
    color: rgb(255,255,255);
    background-color: rgb(46, 48, 61);
}

.scroll-wrapper{
    position: absolute;
    bottom: 5em;
    right: 0;
    left: 0;
}

.scroll-text{
    font-size: 1.25em;
    text-align: center;
    margin-bottom: 1em;
    opacity: 0.4;
}

#scroller{
    cursor: pointer;
}

.scroll-arrow{
    width: 1.2em;
    opacity: 0.25;
    position: relative;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.twice {
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
}

/* HELP SECTION
-------------------------------------------------- */

#help{
    background-color: rgb(249, 249, 249);
    padding: 6em 0 6em 0;
}

.help-row-wrapper{
    margin-top: 3em;
}

.help-icon-aligner{
    margin-bottom: 3em;
}

.icon-circle{
    display: inline-block;
    width: 6.5em;
    height: 6.5em;
    border-radius: 50%;
    border: 1px solid rgb(221, 221, 221);
    display: flex;
    /* Vertical align: */
    align-items: center;
    /* Horizontal align: */
    justify-content: center;
    /* Safari */
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

.icon-circle img{
    width: 50%;
    height: 50%;
    width: -moz-available;
}

.help-head{
    font-family: "DC-News";
    font-size: 1.4em;
/*    text-align: center; */
}

.help-description{
    font-size: 1.25em;
    padding: 1em 0 1em 0;
    line-height: 1.7;
 /*   display: none; */
}
/* PARTNERS SECTION
-------------------------------------------------- */

#partners{
    background-color: rgb(255, 255, 255);
    padding: 6em 0 6em 0;
    border-top: 1px solid rgb(221, 221, 221);
}

.partner-box{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 15em;
    position: relative;
    display: flex;
    /* Vertical align: */
    align-items: center;
    /* Horizontal align: */
    justify-content: center;
    /* Safari */
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

.partner-box img{
    max-width: 70%;
}

#p-ola-logo{
    width: 55%;
}

#p-practo-logo{
    width: 60%;    
}

#p-cleartrip-logo{
    width: 70%;    
}

#p-hopscotch-logo{
    width: 75%;    
}

#p-melorra-logo{
    width: 65%;    
}

#p-tablehero-logo{
    width: 70%;    
}

.partner-invite{
    margin-top: 1.5em;
    background-color: rgb(255, 255, 255);
    padding-top: 2em;
    min-height: 3em;
    display: flex;
    /* Vertical align: */
    align-items: center;
    /* Horizontal align: */
    justify-content: center;
    /* Safari */
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

.partner-invite-head{
    font-family: "DC-News";
    font-size: 1.4em;
}

.partner-invite-text{
    font-size: 1.25em;
    padding-top: 1em;
    line-height: 1.7;
}

.partner-button{
    margin-top: 1.3em;
}

.partner-hover{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.98);
    width: 100%;
    height: 100%;    
    opacity: 0;
    overflow: hidden;
/*    display: none; */
    visibility: hidden;
}

.partner-description{
    width: 100%;
    font-size: 1.25em;
    line-height: 1.5;
    padding: 1.5em;
    overflow: hidden;
}

.partner-industry{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-bottom: 0 !important;
    border-top: 1px solid rgb(221, 221, 221);
    text-align: center;
    padding: 1em;
    opacity: 0.6; 
    font-size: 1.2em;
    overflow: hidden;
}

/* TEAM SECTION
-------------------------------------------------- */

#team{
    background-color: rgb(249, 249, 249);
    padding: 6em 0 6em 0;
    border-top: 1px solid rgb(221, 221, 221);   
}

.team-content{
    margin-top: 4em;
}

.profile-circle{
    display: inline-block;
    width: 7em;
    height: 7em;
    border-radius: 50%;
    border: 1px solid rgb(221, 221, 221);
    display: flex;
    /* Vertical align: */
    align-items: center;
    /* Horizontal align: */
    justify-content: center;
    /* Safari */
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: -moz-flex;
    -moz-align-items: center;
    -moz-justify-content: center;
}

.profile-photo{
    max-width: 100%;
    border-radius: 50%;
    width: -moz-available;
    overflow: hidden;
}

.profile-name{
    font-family: "DC-News";
    font-size: 1.45em;
}

.profile-role{
    font-family: "DC-News";
    font-size: 1.25em;
    margin-top: 0.2em;
    opacity: 0.8;
}

.profile-description{
    margin-top: 0.5em;
    font-size: 1.25em;
    line-height: 1.6;
    opacity: 0.6;
}

.social-wrapper{
    margin-top: 0.8em;
    margin-bottom: 4em;
}

.social-wrapper.last{
    margin-bottom: auto !important;
}

.profile-social-circle{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border: 1px solid rgb(221, 221, 221);
    display: inline-flex;
    /* Vertical align: */
    align-items: center;
    /* Horizontal align: */
    justify-content: center;
    /* Safari */
    display: -webkit-inline-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: -moz-inline-flex;
    -moz-align-items: center;
    -moz-justify-content: center;    
}

.profile-social-circle img{
    width: 50%;
    height: 50%;
}

.profile-social-twitter{
    opacity: 0.4;
    width: 1.8em;
    margin-right: 1.5em;
}

.profile-social-linkedin{
    opacity: 0.4;
    width: 1.8em;
}

/* JOBS SECTION
-------------------------------------------------- */

#jobs{
    background-color: rgb(255, 255, 255);
    padding: 6em 0 6em 0;
    border-top: 1px solid rgb(221, 221, 221);    
}

#hiring-block{
    padding: 3em 1.5em 3em 1.5em;
}

.jobs-icon-wrapper{
    min-height: 10em;
    display: flex;
    /* Vertical align: */
    align-items: center;
    /* Horizontal align: */
    justify-content: center;
    /* Safari */
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: -moz-flex;
    -moz-align-items: center;
    -moz-justify-content: center;
}

#partner-companies-icon{
    min-width: 7.5em;
}

#dc-logo-symbol{
    min-width: 9em;
}


/* JOB LISTINGS SECTION
-------------------------------------------------- */
#job-listing-partner, #job-listing-dc{
    display: none;
    background-color: rgb(245, 245, 245);
    padding: 6em 0 6em 0;
    box-shadow: inset 0px 2px 4px 0px rgba(218,218,218,0.50);
}

.listing-section-title{
    display: inline;
    font-size: 1.6em;
}

.listing-close-button{
    position: absolute;
    right: 0;
    padding-right: 2em;
    opacity: 0.2;
    cursor: pointer;
}

.listing-close-button img{
    width: 0.5em;
}

.listing-break{
    margin-bottom: 0;
}

.partner-title{
    margin-top: 1.5em;
    font-size: 1.6em;
    font-family: "DC-News";    
}

.job-item{
    border: 1px solid rgb(221, 221, 221);
    border-radius: 3px;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.job-title{
    font-family: "DC-News";
    font-size: 1.4em;
}

.job-label{
    font-size: 1.1em;
    opacity: 0.6;
}

.job-description{
    max-width: 95%;
    padding-top: 1em;
    font-size: 1.1em;
    line-height: 1.5;
    opacity: 0.6;
    display: none;
}

.job-item-cta{
    text-align: center;
    padding: 1em;
    font-size: 1.1em;
    font-family: "DC-News";
    display: none;
}

#partner-listing-mobile{
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 6em 0 6em 0;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.mobile-listing-background{
    background-color: rgb(255, 255, 255); 
    z-index: 100;
    position: absolute;
    right: 0;
    top: 0;
    min-width: 75%;
    height: 100vh;
}

/* LOCATION SECTION
-------------------------------------------------- */

#location{
    background-color: rgb(249, 249, 249);
    padding: 6em 0 6em 0;
    border-top: 1px solid rgb(221, 221, 221);
}

.divider-left{
    border-left: 1px solid rgb(221, 221, 221);
    border-left-width: 10%;
}

.location-head{
    text-align: center;
    font-family: "DC-Medium";
    font-size: 1.45em;
    text-align: center;
    margin-top: 1em;
}

.address{
    text-align: center;
    font-size: 1.2em;
    margin-top: 1.0em;
    margin-bottom: 1.0em; 
}

/*
.underline-link{
    font-family: "DC-News";
    text-align: center;
    font-size: 1em;
    opacity: 0.4;
    text-decoration: underline;
}

.unerline-link:hover{
    opacity: 0.7;
    transition: opacity 0.5s ease;
}
*/

/* QUOTE SECTION
-------------------------------------------------- */

#quote{
    background-color: rgb(249, 249, 249);
    padding: 6em 0 6em 0;
    border-top: 1px solid rgb(221, 221, 221);     
}

.quote-label{
    color: rgba(46, 48, 61, 0.4);
    font-size: 1.25em;
}

.quote-content{
    margin-top: 2em;
    padding-left: 2em;
    border-left: thick solid #303030;
}

.design-quote{
    font-family: "DC-Quote";
    font-size: 2.0em;
}

.quote-credit{
    padding-top: 1em;
    font-family: "DC-News";
    font-size: 1.2em;
    color: rgba(46, 48, 61, 0.4);
    text-transform: uppercase;
}

/* FOOTER SECTION
-------------------------------------------------- */

#footer{
    background-color: rgb(235, 235, 235);
    padding: 1.5em 0 1.5em 0;
    border-top: 1px solid rgb(221, 221, 221);
}

.footer-logo{
    opacity: 0.1;
}

#back-to-top{
    cursor: pointer;
}

/* MEDIA QUERIES
-------------------------------------------------- */

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    body{
        font-size: 12px;
    }

    #p-ola-logo{
        width: 40%;
    }

    #p-practo-logo{
        width: 45%;    
    }

    #p-cleartrip-logo{
        width: 50%;    
    }

    #p-hopscotch-logo{
        width: 55%;    
    }

    #p-melorra-logo{
        width: 50%;    
    }

    #p-tablehero-logo{
        width: 55%;    
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    body{
        font-size: 13px;
    }
    
    .team-content{
        margin-top: 6em;
    }
    
    .icon-circle:hover {
        transition: 0.75s ease;
        border: 1px solid rgb(181, 181, 181);
    }
    
    .help-head{
        text-align: left;
    }
    
    .help-description{
        display: inherit;
    }
    
    .help-icon-aligner.last, .profile-description.last{
        margin-bottom: auto;
    }
    
    .sm-break{
        display: inherit;
    }
    
    #hopscotch-box{
        border-left: 1px solid rgb(221, 221, 221) !important;
        border-bottom: 1px solid rgb(221, 221, 221) !important;
    }
    
    .partner-invite{
        padding-left: 1em;
        padding-right: 1em;
        margin-top: 4em;
        border: 1px solid rgb(221, 221, 221); 
        padding-bottom: 2em;       
    }
    
    .profile-circle{
        width: 12.5em;
        height: 12.5em;
    }
    .profile-name, .profile-role, .profile-description{
        text-align: center;
    }
    
    .profile-description{
        margin-top: 0.8em;
        padding-left: 1em;
        padding-right: 1em;
    }
    
    .profile-name{
        margin-top: 1.5em;
    }
    
    .design-quote{
        line-height: 1.8;
    }
    .social-wrapper{
        margin-top: 1.5em;
        text-align: center;
        margin-bottom: auto;
    }
    
    .profile-social-twitter:hover, .profile-social-linkedin:hover{
        transition: opacity 0.5s ease;
        opacity: 0.8;
    }

    .job-title, .job-label{
        display: inline;
    }
    
    .job-label{
        padding-left: 1em;
    }
    
    .job-item-cta, .job-description{
        display: inherit;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    body{
        font-size: 14px;
    }
    
    .md-break{
        display: inherit;
    }
    
    .partner-box:hover .partner-hover{
        transition: visibility 0s, opacity 0.5s ease;
        opacity: 1;
        display: block;
        visibility: visible;
    }
    
    .partner-box{
        min-height: 20em;
    }
    
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    body{
        font-size: 15px;
    }
    
    .lg-break{
        display: inherit;
    }
    
}

@media screen and (max-width:768px) {
}