@font-face{
    font-family: "DC-Book";
    src: url("../fonts/ClanPro-Book.otf") format("opentype");
}

@font-face{
    font-family: "DC-News";
    src: url("../fonts/ClanPro-News.otf") format("opentype");
}

html, body, h1, h2, h3, h4, h5, a, p{
    font-family: "DC-Book", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: normal;
}

.center{
    display: block;
    float: none;
    margin-left: auto !important;
    margin-right: auto;
}

.navigation{
    opacity: 0;
    display: none;
}

.pitch{
    margin: 2.5rem 0 2.5rem 0;
    text-align: center;
    color: #303030;
}

.pitch-break{
    display: none;
}

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.brand{
    height: 100vh;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
}

.logo{
    max-width: 24rem;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

a { color: inherit; }
a:hover {color: inherit;}

.touch-button{
    padding: 1.2rem 0.8rem 0 0.8rem;
    border: 0.1rem solid #303030;
    border-radius: 0.3rem;
    height: 3.6rem;
}

.touch-button:hover{
    transition: background-color 0.5s ease;
    background-color: #303030;
}


.touch-text{
    text-align: center;
    font-family: "DC-Book";
    font-size: 1.5rem;
    color: #303030;
}

.touch-button:hover .touch-text{
    transition: color 0.5s ease;
    color: #fff;    
}


.section-break{
    max-width: 48rem;
}

#partners{
    background-color: #f9f9f9;
    padding: 10rem 1rem 10rem 1rem;
    border-top: 1px solid #e1e1e1;
}

.section-heading{
    text-align: center;
    font-family: "DC-News";
    color: #303030;
}

.section-description{
    text-align: center;
    font-family: "DC-Book";
    color: #9b9b9b;
}

.partner-box{
    position: relative;
    background: #ffffff;
    border: 0.1rem solid #DDDDDD;
    height: 22rem;
    overflow: hidden;
    margin: 1rem;
}

.partner-box:hover{
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.10);
}

.partner-logo{
    padding: 5rem 0 5rem 0;
}

.partner-industry{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #9b9b9b;
}

.partner-break{
    margin-bottom: 2rem;
}

.partner-pitch{
    text-align: center;
    padding: 2rem 1rem 0rem 1rem;
}

.partner-pitch-head{
    font-family: "DC-News";
}

.partner-pitch-description{
    padding: -1rem 0 0 0;
    text-align: center;
    font-family: "DC-Book";
    color: #9b9b9b;
}

.touch-box{
    background-color: #303030;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #ffffff;
    padding: 2rem 0 0 0;
}

.touch-box:hover{
    background-color: #353535;
}


#team{
    background-color: #ffffff;
    padding: 10rem 1rem 6rem 1rem;
    border-top: 1px solid #e1e1e1;
}

.team-member{
    padding: 4rem 0 2rem 0;
}

.team-name, .team-role{
    font-family: "DC-News";
    text-align: center;
}

.team-name{
    margin-top: 2rem;
}
    
.team-role{
    margin-top: -1rem;
}

.team-description{
    font-family: "DC-Book";
    color: #9b9b9b;
    display: none;
}

#jobs{
    background-color: #f9f9f9;
    padding: 10rem 1rem 10rem 1rem;
    border-top: 1px solid #e1e1e1;
}

#quote{
    background-color: #ffffff;
    padding: 10rem 1rem 8rem 1rem;
    border-top: 1px solid #e1e1e1;
}

.quote-label{
    font-family: "DC-Book";
    color: #9b9b9b;
}

.quote-content{
    border-left: thick solid #303030;
}

.design-quote, .quote-credit{
    padding-left: 4rem;
}

.quote-credit{
    font-family: "DC-News";
    color: #9b9b9b;
}

#footer{
    background-color: #eaeaea;
    padding: 2rem 1rem 2rem 1rem;
    border-top: 1px solid #e1e1e1;
}

.footer-logo{
    opacity: 0.1;
}
/* Mobile First Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than mobile */
@media (min-width: 400px){
}

/* Larger than phablet */
@media (min-width: 550px) {
    .team-name, .team-role{
        font-family: "DC-News";
        text-align: left;
    }
    
    .team-name{
        margin-top: auto;
    }
    
    .team-role{
        margin-top: -2rem;
    }
    
    .team-description{
        display: inherit;
        margin-top: -1rem;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .logo{
        max-width: none;
        max-height: 7rem;
    }
    
    .pitch{
        margin: 3.0rem 0 3.0rem 0;
        font-size: 3.5rem;
    }
}

/* Larger than desktop */
@media (min-width: 1000px){
    .pitch{
        font-size: 4.0rem;
    }
    
    .pitch-break{
        display: inherit;
    }
    
    /*
    .navigation{
        display: inherit;
    }
    */
}

/* Larger than Desktop HD */
@media (min-width: 1200px){
    .pitch{
        margin: 4.0rem 0 4.0rem 0;
        font-size: 4.5rem;
    }
}