html, body{
    font-size: 18px;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

@font-face{
    font-family: "DCWeb-book";
    src: url("../fonts/ClanPro-Book.otf") format("opentype");
}

@font-face{
    font-family: "DCWeb-news";
    src: url("../fonts/ClanPro-News.otf") format("opentype");
}

.brand{
    height: 100vh;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
}

.logo{
    margin-bottom: 1rem;
}

.intro-pitch{
    font-family: "DCWeb-book", "sans-serif";
    text-align: center;
    font-size: 2.4rem;
    line-height: 3.5rem;
    font-weight: 300;
    color: #303030;
}

.pitch-focus{
   /* font-family: "DCWeb-news" */
}

.hint-text{
    text-align: center;
    bottom: 10px;
    font-family: "DCWeb-book";
    font-size: 1rem;
    color: #E2E2E2;
    bottom: 3rem;
}

.section-top-head{
    text-align: center;
    font-family: "DCWeb-news";
    font-size: 1.2rem;
    color: #4A4A4A;
}

.section-top-hr{
    width: 30%;
}

.section-top-desc{
    text-align: center;
    font-family: "OpenSans-Light";
    font-size: 1rem;
    color: #9B9B9B;
    line-height: 1.5;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

.touch-button{
    margin-top: 2rem;
    border: 1px solid #303030;
    border-radius: 4px;  
}

.touch-button:hover{
    transition: background-color 0.5s ease;
    background-color: #303030;
}


.touch-text{
    font-family: "DCWeb-News";
    font-size: 0.8rem;
    color: #303030;
}

.touch-button:hover .touch-text{
    transition: color 0.5s ease;
    color: #fff;    
}

@media only screen and (max-width : 1024px) {
     .logo{
        height: 60px;
     }
     
     .intro-pitch{
         font-size: 2.0rem;
         line-height: 3.0rem;
     }
}

@media only screen and (max-width : 768px) {
     .logo{
        height: 55px;
     }
     
     .intro-pitch{
         font-size: 1.7rem;
         line-height: 2.4rem;
     }
}


@media only screen and (max-width : 640px) {
     .logo{
        height: 50px;
     }
     
     .intro-pitch{
         font-size: 1.5rem;
         line-height: 2.2rem;
     }
}

/* Extra Small Devices, Phones */ 
 @media only screen and (max-width : 480px) {
     .logo{
        height: 40px;
     }
     
     .intro-pitch{
         font-size: 1.1rem;
         line-height: 1.9rem;
     }
     
     .touch-text{
         padding: 0.3rem 0 0.3rem 0;
         font-size: 0.8rem;
     }
}

 /* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .logo{
        height: 30px;
    }
    
    .intro-pitch{
        font-size: 0.9rem;
        line-height: 1.4rem;
    }
     
     .touch-text{
         padding: 0.1rem 0 0.1rem 0;
         font-size: 0.7rem;
     }
}