@font-face{
    font-family: "DC-Book";
    src: url("../fonts/ClanPro-Book.otf") format("opentype");
}

@font-face{
    font-family: "DC-News";
    src: url("../fonts/ClanPro-News.otf") format("opentype");
}

html, body, h1, h2, h3, h4, h5, a, p{
    font-family: "DC-Book", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: normal;
}

body{
    font-size: 10px;
}

.center{
    display: block;
    /* Because bootstrap has columns on float:left by default */
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.brand{
    height: 100vh;
    display: flex;
    /* Vertical align: */
    align-items: center;
    /* Horizontal align: */
    justify-content: center;
    /* Safari: */
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
}

.logo{
    width: 20em;
}

.pitch{
    font-size: 2.0em;
    line-height: 1.5em;
    text-align: center;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    body{
        font-size: 11px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    body{
        font-size: 12px;
    }
    
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    body{
        font-size: 13px;
    }
    
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    body{
        font-size: 14px;
    }
    
}